:root {
	--dark: rgb(58, 141, 144);;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #fff;
	--pink: #dc3838;
	--purple: #8B5CF6;
	--light: #EEE;
}

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--dark);
	align-items: center;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.app-todo{
	display: flex;
	background: linear-gradient(rgb(51, 204, 255) 0%, rgb(255, 153, 204) 100%);
	max-width: 410px;
	min-height: 700px;
	margin: auto;
	border-radius: 4px ;
}
#app-todo{
	display: flex;
	margin-top: 24px;
	/* flex-wrap: wrap; */
	align-items: baseline;
}
header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}

.new-todo-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

.new-todo-input {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

.new-todo-input::placeholder {
	color: var(--grey);
}

.new-todo-submit {
	color: var(--pink);
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, #ccc, #fff);

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

.new-todo-submit:hover {
	opacity: 0.8;
}

.new-todo-submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.todo-list {
	padding: 1rem;
}

.todo-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}


.todo .content {
	flex: 1 1 0%;
}

.todo .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.todo .content .text:not(:read-only) {
	color: var(--pink);
}

.todo .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.todo .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.todo .actions button:hover {
	opacity: 0.8;
}

.todo .actions button:active {
	opacity: 0.6;
}

.todo .actions .edit {
	background-image: linear-gradient(to right, #ccc, #fff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.todo .actions .delete {
	color: rgb(71, 61, 63);
}
.todo{
	display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;

}

#creat-todo-input {
    flex: 1 1 0%;
    background-color: black;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: white;
    font-size: 1.25rem;
}

#creat-todo-submit{
    color: var(--pink);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, #ccc, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}
.dragging{
	background-color: #EC4899;
}

.box{
	background-color: #434c75 ;
	border-radius: 4px;	
	margin-left: 12px;
	padding: 24px;
	font-size: 24px;
	line-height: 74px;
	margin-top: 24px;
}

.new-todo-form{
	margin-bottom: 24px;
}
.box_content{
	min-height: 50px;
}

.dragging-box{
	opacity: 0.5;
}
